  
  <!--setGoal Modal -->
  <div class="modal fade" id="sendMail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="home_icon ">
            <i class="fa-brands fa-golang fa-3x"></i>
          </div>

            <div class="container">

                
                <form   action="/send" method="POST" > 
                
                
                
                <div  class="form-group">
              
                    <label for="exampleFormControlTextarea1" class="form-label">Lets Get Started</label>
                    <textarea class="form-control" name="text" id="text" rows="2"></textarea>
                  
                </div>
                
            
                    <div class=" d-flex ">
                  <div class="flex-fill">
                    <input  type="submit" class=" btn btn-outline-secondary w-20 " id="submit"   value="SEND">
                  </div>
                
                
                </div>
                </form>      
                </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
  
