  
  <!--setGoal Modal -->
  <div class="modal fade" id="sendMail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          
              <div class="home_icon ">
                <i class="fa-brands fa-golang fa-3x"></i>
              </div>
    
                <div class="container">



                    <form   action="/messaging" method="POST" > 
                   <div  class="form-group ">
                        
                        <div class=" mb-5 gx-3 m-auto">
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label">Email address</label> <br>
                            <small id="emailHelp" class="form-text text-muted form-label">Sender</small>
                            <input type="email" name="from" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value=<%- loggedInUser %>  placeholder="Enter email" disabled >
                          </div>
                          <div class="form-group">
                            <small id="emailHelp" class="form-text text-muted form-label">Recipient</small>
                            <input type="email" name="to" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          </div>
                        </div>
                        <div> 
                          
                          <textarea class="form-control" name="message" id="text" rows="2"></textarea>
                        </div>
                    </div>
                    
                
                        <div class=" d-flex ">
                      <div class="flex-fill">
                        <input  type="submit" class=" btn btn-outline-secondary w-20 " id="submit"   value="SEND">
                      </div>
                    
                    
                    </div>
                    </form>
                  </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
  
