 

  <!-- Modal -->
  <div class="modal fade" id="tutor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>  
        
        <div class="modal-body">

          <h4 class="container d-flex justify-content-center border border-secondary rounded-pill ">TUTOR</h4>


          <div class="home_icon ">
            <i class=" fa-brands fa-node-js fa-5x"></i>
          </div>
          
<form  action="/api/tutor" method="POST" >

    <div class="form-group">
              
        <label for="name" class="form-label">Name</label>
          <input type="text" name="name" class="form-control " id="name" placeholder="your@name">
      </div>
  

      <div class="form-group">
              
        <label for="name" class="form-label">course</label>
          <input type="text" name="course" class="form-control " id="course" placeholder="Course Name">
      </div>


      <div  class="form-group">
              
        <label for="email" class="form-label ">Email address</label>
        <input type="email"  name="email" class="form-control " id="email" placeholder="name@example.com">
      </div>
      
      <div class="form-group">
              
        <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control " id="password" placeholder="Password">
          <small id="emailHelp" class="form-text btn text-muted"><i onclick="showPassword();" class="fa-solid fa-eye"></i></small>

      </div>

      <div class="form-group">
              
        <label for="level" class="form-label">Confirm Password</label>
          <input type="password" name="password2" class="form-control " id="password2" placeholder=" confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" >
      </div>


      <div class="form-group">
        <input type="text" name="role" class="form-control " id="role"placeholder="role" value="tutor"  hidden>
        </div>      
        
        <div class="flex-fill">
          <input  type="submit" class=" btn btn-outline-secondary w-20 " id="submit"   value="REGISTER">
        </div>
      

</form>
<p   class="lead mt-4  text-muted"> <small> Have An Account?</small>  <a class="form-label" href="/tutorLogin"> <small>Login</small> </a></p></small>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


