
<div class="home">
<div class="row border border-muted shadow align-items-center ">

    <header >
      <h4 class="container text-center"> STUDENT ACADEMIC RADAR</h4>
      <hr class="dropdown-divider">

    </header>
     
    
        <div class="home_icon" >
          <span class="fa-solid fa-graduation-cap fa-10x"></span>
        </div>
    
    <!-- Button trigger modal -->
    
    <div class="d-flex justify-content-center mt-4">
  
      <div class=""  >
        <a   data-bs-toggle="modal" class="modal_toggler btn btn-outline-secondary rounded m-2 " href="#staticBackdrop">REGISTER</a>
    </div>
    
    <div  class="">
      <a  data-bs-toggle="modal" class="btn btn-outline-secondary rounded m-2" href="#staticBackdrop1"> LOG-IN</a>
    </div>
    
    </div>
      <!-- Modals -->
    <%- include('./partials/registerModal.ejs') %> 
    <%- include('./partials/loginModal.ejs') %> 

    
    
</div>
</div>

