<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs', {title:'HOME'}) %> 

</head>
<body>
<header>
  <h4 class="container  "> STUDENT APP</h4>
</header>
 

    <div class="home_icon" >
      <span class="fa-solid fa-graduation-cap fa-10x"></span>
    </div>

<!-- Button trigger modal -->
<div class="container  ">

<div class="d-flex justify-content-center mt-4">

  <div class=""  >
    <a   data-bs-toggle="modal" class="modal_toggler btn btn-outline-secondary rounded m-2 " href="#staticBackdrop">REGISTER</a>
</div>

<div  class="">
  <a  data-bs-toggle="modal" class="btn btn-outline-secondary rounded m-2" href="#staticBackdrop1"> LOG-IN</a>
</div>

</div>
  <!-- Modals -->
<%- include('./partials/registerModal.ejs') %> 
<%- include('./partials/loginModal.ejs') %> 

<%- include('./partials/footer.ejs') %> 

</body>
</html>