
<div class="home">
  <div class="row border border-muted shadow align-items-center ">
  
      <header >
        <h4 class="container text-center"> SOMA LINK</h4>
        <hr class="dropdown-divider">
  
      </header>
       
      
          <div class="home_icon" >
            <span class="fa-solid fa-graduation-cap fa-10x"></span>
          </div>
      
      <!-- Button trigger modal -->
      
      <div class="d-flex justify-content-center mt-4">
    
        <div class=""  >
          <a   data-bs-toggle="modal" class="modal_toggler btn btn-outline-secondary rounded m-2 " href="#student">Register as a Student.</a>
      </div>
  
      <div class=""  >
        <a   data-bs-toggle="modal" class="modal_toggler btn btn-outline-secondary rounded m-2 " href="#tutor">Register as a Tutor.</a>
    </div>
  
      <div  class="">
        <a  data-bs-toggle="modal" class="btn btn-outline-success rounded m-2" href="#loginStudent"> Login as a Student</a>
      </div>
  
      <div  class="">
        <a  data-bs-toggle="modal" class="btn btn-outline-success rounded m-2  " href="#loginTutor"> Login as a Tutor</a>
      </div>
      
      </div>
        <!-- Modals -->
      <%- include('./partials/studentRegisterModal.ejs') %> 
      <%- include('./partials/tutorRegisterModal.ejs') %> 
      <%- include('./partials/loginModal.ejs') %> 
  
      
      
  </div>
  </div>
  
  