

      <div class="container">


              <h4 class="container  border border-secondary rounded-pill"> STUDENT ACADEMIC RADAR</h4>

                   <div class=" home_icon">

                    <i id="spin" role="status"></i>
  

              <div >

              </div>
                    <i class=" home_icon fa-solid fa-id-card fa-5x "></i>

                   </div>
                        <%- include('./partials/messagePrompts.ejs') %> 

              <form   action="/api/student/login" method="POST" > 
              
              
              
              <div  class="form-group">
              
                <label for="email" class="form-label ">Email address</label>
                <input type="email" name="email" class="form-control " id="email" placeholder="name@example.com" value="<%- typeof email != 'undefined' ? email : '' %>">
              </div>
              
              
              
              <div class="form-group">
              
                <label for="level" class="form-label">Password</label>
                  <input type="password"    name="password" class="form-control " id="password" placeholder="Password" value="<%- typeof password != 'undefined' ? password : '' %>" >
              </div>
<br>
              <div class=" d-flex ">  
                <div class="flex-fill">
                  <input  type="submit"  class=" btn btn-outline-secondary w-20 " id="submit"   value="Login">
                </div>
      </div>
              </form>
              <p   class="lead mt-4  text-muted"> <small> Do Not Have An Account?</small>  <a class="form-label" href="/register"> <small>Register</small> </a></p></small>

