<h5 class="text-start display-5 my-4">Resource Uploads</h5>
  <!-- navbar -->
<%- include('./partials/headerTutorDashboard.ejs') %> 
<!-- //setGoal Modal && setSkill Modal -->
<%- include('./partials/goalModal.ejs') %> 
<%- include('./partials/skillModal.ejs') %> 


  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 m-auto">
        <form action="/uploadFiles" method="POST" enctype="multipart/form-data">
          <div class="custom-file mb-3">
            <input type="file" name="file" id="file" class="custom-file-input">
            <label for="file" class="custom-file-label text-bold">Choose File</label>
          </div>
          <input type="submit" value="Submit" class="btn btn-success col-12">
        </form>
        <hr>
      </div>
    </div>
  </div>
