<h5 class="text-start display-5 my-4">Resource Uploads</h5>
  <!-- navbar -->
<%- include('./partials/headerTutorDashboard.ejs') %> 
<!-- //setGoal Modal && setSkill Modal -->
<%- include('./partials/goalModal.ejs') %> 
<%- include('./partials/skillModal.ejs') %> 
 <div class="row d-flex">


   <form  class="col-6 align-content-center" action="/api/tutor/uploadFiles" method="post" enctype="multipart/form-data">
   <label class="form-label" for="customFile">Add File</label>
   <input type="file" file="file" class="form-control" id="customFile" />
   <input type="submit" value="SUBMIT" class="btn btn-outline-success btn-block">
   </form>


 </div>