
    <div class="container">

      <h3 class="text-success mb-5">Modify Goal</h3>
      <hr class="dropdown-divider">

      
      
                
        <form   action="/api/goal/update/<%- goal._id %>  " method="POST" > 
        <input type="hidden" name="_method" value="PUT">
        
        
        <div  class="form-group">

      
      
            <label for="exampleFormControlTextarea1" class="form-label">Lets Get Started</label>
            <textarea class="form-control"  name="text" id="text" rows="2"  > <%- goal.text%> </textarea>
        
            <div class=" d-flex ">
          <div class="flex-fill">
            <input  type="submit" class=" btn btn-outline-success w-20 " id="submit"   value="SAVE">
            <a href="/dashboard" class="btn btn-outline-danger"> CANCEL</a>
          </div>
        
        </div>
        </form>      
        </div>

  
