
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Edu+VIC+WA+NT+Beginner:wght@700&family=Marck+Script&family=Righteous&family=Shadows+Into+Light&family=Source+Code+Pro&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&family=Marck+Script&family=Righteous&family=Shadows+Into+Light&family=Source+Code+Pro&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&family=Righteous&family=Shadows+Into+Light&family=Source+Code+Pro&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&family=Source+Code+Pro&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');

.container{
  max-width: 1500px;
}

a{
  text-decoration: none;
text-align: center;
color: grey;
  
}

.home_icon{
  text-align: center;
  margin-top: 1cm;


}
.home_icon_dashboard{
  text-align: center;
  margin-top: 1cm;
  color: rgb(230, 130, 9);

}

#category{
  color: rgb(230, 130, 9);
  font-family: 'Comfortaa', cursive;   

  text-decoration: underline;
  }
.welcome-text{
    margin-top: 1cm;
    text-align: center;
    font-size: 100px;

    font-family: 'Comfortaa', cursive;   
 }
 .user-text{
    
    margin-top: 1cm;
    text-align: center;
    font-size: 20px;
    font-family: 'Righteous', cursive;

 }

h4 {
    font-family: 'Comfortaa', cursive;   
    font-size:30px ;

}

.form-label,.alert {
  color: rgb(230, 130, 9);
  font-family: 'Comfortaa', cursive;   

}
.modal-title{

font-family: 'Edu VIC WA NT Beginner', cursive;
}


.card-title2{
  color: rgb(230, 130, 9);
  font-family: 'Comfortaa', cursive;   

  text-decoration: underline;
  }



.btn-float {
  float: left;
  margin-right: 10px;
} 
.col-5{
  text-decoration: underline;
  text-align: right;
}

.skill__link {
  text-align: start;
  display: block;
  text-decoration: none;
  transition: 250ms all;
  
}


.notes__card {
  text-align: start;
  padding-left: 0.75cm;
  display: block;
  text-decoration: none;
  transition: 250ms all;
  
}
.skill__link:hover {
  transform: scale(1.1);
}
.skill__card:hover{
  color: black;
}

.no-courses{
  color:white;
  text-decoration: none;
}
.no-courses:hover{
  color:white;
}
.notes__card:hover{
  color: black;
}



